# Machine Learning Model for Project 'Twitter User Gender Classification'

As dataset has given for this problem and from dataset we can see that we need to use supervised learning techniques to prepare models and find best model from them with best accuracy.

In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy as sp
import pandas as pd
import seaborn as sns

In [24]:
df = pd.read_csv('data/gender-classifier-DFE-791531.csv', encoding='latin-1')
df.head(3)

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,gender,gender:confidence,profile_yn,profile_yn:confidence,created,...,profileimage,retweet_count,sidebar_color,text,tweet_coord,tweet_count,tweet_created,tweet_id,tweet_location,user_timezone
0,815719226,False,finalized,3,10/26/15 23:24,male,1.0000,yes,1.0,12/5/13 1:48,...,https://pbs.twimg.com/profile_images/414342229...,0,FFFFFF,Robbie E Responds To Critics After Win Against...,NaN,110964,10/26/15 12:40,6.587300e+17,main; @Kan1shk3,Chennai
1,815719227,False,finalized,3,10/26/15 23:30,male,1.0000,yes,1.0,10/1/12 13:51,...,https://pbs.twimg.com/profile_images/539604221...,0,C0DEED,ÛÏIt felt like they were my friends and I was...,NaN,7471,10/26/15 12:40,6.587300e+17,NaN,Eastern Time (US & Canada)
2,815719228,False,finalized,3,10/26/15 23:33,male,0.6625,yes,1.0,11/28/14 11:30,...,https://pbs.twimg.com/profile_images/657330418...,1,C0DEED,i absolutely adore when louis starts the songs...,NaN,5617,10/26/15 12:40,6.587300e+17,clcncl,Belgrade

In [25]:
df.shape

(20050, 26)

In [26]:
df['gender'].value_counts()

female     6700
male       6194
brand      5942
unknown    1117
Name: gender, dtype: int64

In [27]:
# Need to drop rows with 'unknown' gender
drop_items_idx = df[df['gender'] == 'unknown'].index
df.drop(index = drop_items_idx, inplace = True)
df['gender'].value_counts()

female    6700
male      6194
brand     5942
Name: gender, dtype: int64

In [28]:
# Check for NaN records in dataset
print('Records before removing rows with NaN value in Gender column : {}'.format(df.shape))
print('Records with NaN value in Gender column : {}'.format(df[pd.isna(df['gender'])].shape))
drop_items_idx = df[pd.isna(df['gender'])].index
df.drop(index = drop_items_idx, inplace = True)
print('Records after removing rows with NaN value in Gender column : {}'.format(df.shape))

Records before removing rows with NaN value in Gender column : (18933, 26)
Records with NaN value in Gender column : (97, 26)
Records after removing rows with NaN value in Gender column : (18836, 26)